/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 200;
    margin: 2px;
}


#bckgpic {
    background: url(./img/sfondo.png);
    text-align: center;
    margin: 0;
    padding: 10px;
}

p{
    margin: 5px 20px;
    padding: 5px 20px ;
    line-height: 1.5rem;
    text-align: left;
}

a:visited{
    color: #039DC2
}


h1{
    font-size: xx-large;
    font-weight: 500;
    padding: 20px 15px;
    line-height: 3rem;
    letter-spacing: 0,2px;
}

h3{
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20 px;
    padding-top: 25px;
    padding-bottom: 15px;
}


span {
    color: #AA2072;
}
 ol {
    margin: 10px 25px;
    padding: 10px 25px;
    text-align: start;
    line-height: 1.5rem;
}

/* HEADER */
header {
    width: 450px;
    min-height: 200px;
    margin: 20px auto;
    padding: 8px;
    background-image: linear-gradient(to bottom,#009AC1,#006A88);
    color: white;
    box-shadow: 1px 1px 2px #006A88;
}

header p, ul {
    margin: 10px;
    padding: 25px 10px;
    text-align: center;
    list-style: none;
    font-size: x-large;
    line-height: 1.5rem;
}

/* MAIN */
main{
    width: 450px;
    min-height: 200px;
    margin: 0 auto;
    padding: 2px;
    background-color: white;
    color: black;
    box-shadow: 1px 1px 2px black;
    text-align: start;
}

#grey {
    color: gray;    
}

/* ELEMENTI NEL MAIN - ARTICLE */

article > ul {
    list-style: disc;
    margin: 10px 25px;
    padding: 10px 25px;
    text-align: start;
    font-size: medium;
    line-height: 1.5rem;
}

.tag {
    background-color: #D0D0D0;
    border: solid gray;
    border-radius: 3px;
    color: black;
}


/* TABELLE */

table{
    width: 300px;
    border-bottom: solid #3468C7;
    text-align: center;
    margin: 0 15%;
}

caption{
    font-style: italic;
}

th{
    background-color: #3468C7;
    padding: 10px;
    color: white;
}

td{
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

article a:link {
    color: #039DC2;
}

#radius {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
/* FORM */

form {
    text-align: center;
    padding: 10px;
}

input{
    border: none;
    border-bottom: dashed;
}

button {
    background-color: #3466D1;
    color: white;
}

#news {
    min-height: 200px;
    width: 400px;
    background-color: #DFE5E6;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;

}

/* ELEMENTI NELL' ASIDE */
.lilbox {
    width: 400px;
    background-color: #DFE5E6;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.calendar{
    text-align: right;
}

/* FOOTER */
footer {
    width: 450px;
    min-height: 50px;
    margin: 20px auto;
    padding: 2px;
    background-color: #005566;
    color: white;
    box-shadow: 1px 1px 2px #005566;
}

footer p {
    text-align: center;
}

footer a:link{
    color: #FB1CD5;
}
